<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Electronic Store</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ownstyle.css">
    <link rel="stylesheet" href="css/effect.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
	<body>
		<header>
			<div class="row">
				<div class="container">
					<div class="col-xs-12">
						<div class="head-top">
							<ul class="head-social unliststyle">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-youtube"></i></a></li>
							</ul>
							<ul class="head-account unliststyle">
								<li><a href="">
									<i class="fa fa-sign-in"></i>
									<span>Đăng Nhập</span>
								</a></li>
								<li><a href="">
									<i class="fa fa-user-plus"></i>
									<span>Đăng Ký</span>
								</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="head-logo">
							<a href="">eShop</a>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="head-search">
							<input type="text">
							<button>Search</button>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="head-hotline">
							<i class="fa fa-phone"></i>
							<span>(08) 372 52002</span>
						</div>
					</div>
				</div>
			</div>
		</header>
		<nav>
			<div class="row">
				<div class="container">
					<div class="col-xs-3">
						<h4 class="category-head">
							<i class="fa fa-bars"></i>
							<span>Category</span>
						</h4>
					</div>
					<div class="col-xs-7">
						<ul class="navigation unliststyle">
							<li class="nav-item"><a href="">
								<i class="fa fa-home"></i>
								<span>Home</span>
							</a></li>
							<li class="nav-item"><a href="">News</a></li>
							<li class="nav-item"><a href="">Sale</a></li>
							<li class="nav-item"><a href="">About</a></li>
							<li class="nav-item"><a href="">Contact</a></li>
						</ul>
					</div>
					<div class="col-xs-2">
						<div class="cart">
							<h4 class="cart-head">
								<i class="fa fa-shopping-cart"></i>
								<span>0 Item</span>
								<i class="fa fa-angle-down"></i>
							</h4>
							<ul class="cart-product">
								<li class="cart-item unliststyle">
									<p>Your cart emtry</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<section>
			<div class="row">
				<div class="container">
					<div class="col-xs-3">
						<div class="col-left">
							<div class="category">
								<ul class="unliststyle">
									<li class="category-item"><a href="">Categoryitem</a></li>
									<li class="category-item"><a href="">Categoryitem</a></li>
									<li class="category-item"><a href="">Categoryitem</a></li>
									<li class="category-item"><a href="">Categoryitem</a></li>
									<li class="category-item"><a href="">Categoryitem</a></li>
									<li class="category-item"><a href="">Categoryitem</a></li>
									<li class="category-item"><a href="">Categoryitem</a></li>
									<li class="category-item"><a href="">Categoryitem</a></li>
									<li class="category-item"><a href="">Categoryitem</a></li>
								</ul>
							</div>
							<div class="special">
								<h4 class="special-name">Special</h4>
								<ul class="unliststyle special-content">
									<li class="special-item">
										<div class="product-item">
											<div class="product-img">
												<a href="">
													<img src="public/book/1.jpg" alt="">
												</a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<h4 class="new-price">Price</h4>
													<span class="percent">-33%</span>
													<p class="old-price">Sale off</p>
												</div>
												<p class="product-name">Produc Name</p>
												<!-- <div class="descrip">Descrip</div> -->
											</div>
										</div>
									</li>
									<li class="special-item">
										<div class="product-item">
											<div class="product-img">
												<a href="">
													<img src="public/book/2.jpg" alt="">
												</a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<h4 class="new-price">Price</h4>
													<span class="percent">-33%</span>
													<p class="old-price">Sale off</p>
												</div>
												<p class="product-name">Produc Name</p>
												<!-- <div class="descrip">Descrip</div> -->
											</div>
										</div>
									</li>
									<li class="special-item">
										<div class="product-item">
											<div class="product-img">
												<a href="">
													<img src="public/book/3.jpg" alt="">
												</a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<h4 class="new-price">Price</h4>
													<span class="percent">-33%</span>
													<p class="old-price">Sale off</p>
												</div>
												<p class="product-name">Produc Name</p>
												<!-- <div class="descrip">Descrip</div> -->
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="review">
								<h4 class="review-name">Review</h4>
								<ul class="unliststyle review-content">
									<li class="review-item">
										<div class="product-item">
											<div class="product-img">
												<a href="">
													<img src="public/book/1.jpg" alt="">
												</a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<h4 class="new-price">Price</h4>
												</div>
												<p class="product-name">Produc Name</p>
												<!-- <div class="descrip">Descrip</div> -->
											</div>
											<div class="product-rate">
												<ul class="unliststyle">
													<li class="product-rate-item"><i class="fa fa-star"></i></li>
													<li class="product-rate-item"><i class="fa fa-star"></i></li>
													<li class="product-rate-item"><i class="fa fa-star"></i></li>
													<li class="product-rate-item"><i class="fa fa-star-o"></i></li>
													<li class="product-rate-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</li>
									<li class="review-item">
										<div class="product-item">
											<div class="product-img">
												<a href="">
													<img src="public/book/1.jpg" alt="">
												</a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<h4 class="new-price">Price</h4>
												</div>
												<p class="product-name">Produc Name</p>
												<!-- <div class="descrip">Descrip</div> -->
											</div>
											<div class="product-rate">
												<ul class="unliststyle">
													<li class="product-rate-item"><i class="fa fa-star"></i></li>
													<li class="product-rate-item"><i class="fa fa-star"></i></li>
													<li class="product-rate-item"><i class="fa fa-star"></i></li>
													<li class="product-rate-item"><i class="fa fa-star-o"></i></li>
													<li class="product-rate-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</li>
									<li class="review-item">
										<div class="product-item">
											<div class="product-img">
												<a href="">
													<img src="public/book/1.jpg" alt="">
												</a>
											</div>
											<div class="product-info">
												<div class="product-price">
													<h4 class="new-price">Price</h4>
												</div>
												<p class="product-name">Produc Name</p>
												<!-- <div class="descrip">Descrip</div> -->
											</div>
											<div class="product-rate">
												<ul class="unliststyle">
													<li class="product-rate-item"><i class="fa fa-star"></i></li>
													<li class="product-rate-item"><i class="fa fa-star"></i></li>
													<li class="product-rate-item"><i class="fa fa-star"></i></li>
													<li class="product-rate-item"><i class="fa fa-star-o"></i></li>
													<li class="product-rate-item"><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xs-9">
						<div class="col-main">
							<div class="link">
								<ul class="unliststyle">
									<li class="link-item"><a href="">
										<i class="fa fa-home"></i>
										<span>Trang Chủ</span>
									</a></li>
									<li class="link-item"><a href="">
										<i class="fa fa-long-arrow-right"></i>
										<span>Navigation link</span>
									</a></li>
									<li class="link-item"><a href="">
										<i class="fa fa-long-arrow-right"></i>
										<span>Navigation link</span>
									</a></li>
								</ul>
							</div>
							<div class="slide-show">
								<div class="slide-stage">
									<div class="slide-item active"><img src="public/slideshow/1.jpg" alt=""></div>
									<div class="slide-item"><img src="public/slideshow/2.jpg" alt=""></div>
									<div class="slide-item"><img src="public/slideshow/3.jpg" alt=""></div>
									<div class="slide-item"><img src="public/slideshow/4.jpg" alt=""></div>
									<div class="slide-item"><img src="public/slideshow/5.jpg" alt=""></div>
								</div>
								<div class="slide-control">
									<ul class="slide-page unliststyle">
										<!-- <li class="page-poiter fa fa-circle"></li>
										<li class="page-poiter fa fa-circle-o"></li> -->
									</ul>
									<ul class="slide-arrow unliststyle">
										<li class="arrow-left"><i class="fa fa-chevron-left"></i></li>
										<li class="arrow-right"><i class="fa fa-chevron-right"></i></li>
									</ul>
								</div>
							</div>
							<div class="brand">
								<ul class="unliststyle brand-stage">
									<li class="brand-item"><img src="public/brand/brand.png" alt=""></li>
									<li class="brand-item"><img src="public/brand/brand.png" alt=""></li>
									<li class="brand-item"><img src="public/brand/brand.png" alt=""></li>
									<li class="brand-item"><img src="public/brand/brand.png" alt=""></li>
									<li class="brand-item"><img src="public/brand/brand.png" alt=""></li>
									<li class="brand-item"><img src="public/brand/brand.png" alt=""></li>
								</ul>
								<div class="arrow-left"><i class="fa fa-angle-left"></i></div>
								<div class="arrow-right"><i class="fa fa-angle-right"></i></div>
							</div>
							<div class="product">
								<div class="category-product">
									<h4 class="product-head">List Product</h4>
									<div class="product-list">
										<div class="col-xs-4">
											<div class="product-item">
												<div class="product-img">
													<a href="">
														<img src="public/book/1.jpg" alt="">
														<span class="badge-new">New</span>
													</a>
												</div>
												<div class="product-info">
													<div class="product-price">
														<h4 class="new-price">Price</h4>
														<span class="percent">-33%</span>
														<p class="old-price">Sale off</p>
													</div>
													<p class="product-name">Triết Học Tây Phương - Từ Khởi Thủy Đến Đương Đại</p>
													<!-- <div class="descrip">Descrip</div> -->
												</div>
												<div class="product-link">
													<ul class="unliststyle">
														<li class="product-link-item"><i class="fa fa-cart-plus"></i></li>
														<li class="product-link-item"><i class="fa fa-info-circle"></i></li>
														<li class="product-link-item"><i class="fa fa-eye"></i></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="col-xs-4">
											<div class="product-item">
												<div class="product-img">
													<a href="">
														<img src="public/book/2.jpg" alt="">
														<span class="badge-new">New</span>
													</a>
												</div>
												<div class="product-info">
													<div class="product-price">
														<h4 class="new-price">Price</h4>
														<span class="percent">-33%</span>
														<p class="old-price">Sale off</p>
													</div>
													<p class="product-name">Produc Name</p>
													<!-- <div class="descrip">Descrip</div> -->
												</div>
												<div class="product-link">
													<ul class="unliststyle">
														<li class="product-link-item"><i class="fa fa-cart-plus"></i></li>
														<li class="product-link-item"><i class="fa fa-info-circle"></i></li>
														<li class="product-link-item"><i class="fa fa-eye"></i></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="col-xs-4">
											<div class="product-item">
												<div class="product-img">
													<a href="">
														<img src="public/book/3.jpg" alt="">
														<span class="badge-new">New</span>
													</a>
												</div>
												<div class="product-info">
													<div class="product-price">
														<h4 class="new-price">Price</h4>
														<span class="percent">-33%</span>
														<p class="old-price">Sale off</p>
													</div>
													<p class="product-name">Produc Name</p>
													<!-- <div class="descrip">Descrip</div> -->
												</div>
												<div class="product-link">
													<ul class="unliststyle">
														<li class="product-link-item"><i class="fa fa-cart-plus"></i></li>
														<li class="product-link-item"><i class="fa fa-info-circle"></i></li>
														<li class="product-link-item"><i class="fa fa-eye"></i></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<a href="" class="view-more">
										<span>View more</span>
										<i class="fa fa-angle-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="row">
				<div class="container">
					<div class="col-xs-6">
						<div class="about">
							<h4 class="about-head">About</h4>
							<p class="about-content">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="subscribe">
							<h4 class="subscribe-head"></h4>
							<div class="subscribe-content tab" data-tabcontrol="tabcontrol2" id="tabcontrol2">
								<ul class="tab-control">
									<!-- <li class="tab-header">The Electronics Store</li> -->
									<li class="tab-page active" data-tab="tab-1">Newsletter</li>
									<li class="tab-page" data-tab="tab-2">Subscribe</li>
									<li class="tab-page" data-tab="tab-3">Contact</li>
								</ul>
								<div class="tab-content">
									<div id="tab-1" class="page-content active">
										1
									</div>
									<div id="tab-2" class="page-content">
										<div class="subscrible">
											<input type="text">
											<button>Subscribe</button>
										</div>
									</div>
									<div id="tab-3" class="page-content">4</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="col-xs-3">
						<h4 class="bot-head">Navigation</h4>
						<ul class="unliststyle bot-content">
							<li><a href="">Home</a></li>
							<li><a href="">News</a></li>
							<li><a href="">Sale</a></li>
							<li><a href="">About</a></li>
							<li><a href="">Contact</a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<h4 class="bot-head">Category</h4>
						<ul class="unliststyle bot-content">
							<li><a href="">Category item</a></li>
							<li><a href="">Category item</a></li>
							<li><a href="">Category item</a></li>
							<li><a href="">Category item</a></li>
							<li><a href="">Category item</a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<h4 class="bot-head">Account</h4>
						<ul class="unliststyle bot-content">
							<li><a href="">Register</a></li>
							<li><a href="">Login</a></li>
							<li><a href="">Check out</a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<h4 class="bot-head">Follow</h4>
						<ul class="unliststyle bot-content">
							<li><a href="">Facebook</a></li>
							<li><a href="">Google plus</a></li>
							<li><a href="">Twitter</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="col-xs-12">
						<p class="copyright">Copyright &copy; 2015 | Electronics.vn - Team thích vui ve~</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/ownscript.js"></script>
		<script src="js/slide-show.js"></script>
	</body>
</html>